p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  transition: .3s;
}
p:hover {
  font-size: 2em;
}

.featuredPup {
  border: 5px solid purple;
  align-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
}
